.App {
    font-family: sans-serif;
    /* text-align: center; */
  }
  
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  
  .tela-inteira {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  header {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 10%;
  }
  
  main {
    min-height: 80%;
    display: flex;
  }
  
  .menu-vertical {
    flex-basis: 200px;
    border-right-style: solid;
    border-right-width: thin;
  }
  
  .botoes-meunu-vertical {
    list-style-type: none;
  }
  
  .painel-de-videos {
    padding-left: 20px;
    padding-top: 20px;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
  }
  
  .box-pagina-principal {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-template-columns: 1fr;
    border-style: solid;
    border-width: thin;
    align-items: start;
    justify-items: stretch;
  }
  
  .box-pagina-principal > img {
    width: 100%;
    height: 200px;
  }
  
  h4 {
    margin-left: 20px;
  }